doctype html
html( lang="en_US" )
    head
        meta( charset="UTF-8" )/
        title analiz

        link( rel="stylesheet", href="css/styles.css" )/

    body
        div.left
            div#files
                h3 File
                input( type="file", name="files", accept="text/html" )/
                a( href="#" ) Select file

            div#tasks
                h3 Tasks
                ol
                div.actions
                    a( href="#" ) run selected tasks

        div.right
            ol

        // script( src="js/vendors/jquery.js" )
        script( src="js/main.js" )
