doctype html
html( lang="en_US" )
    head
        meta( charset="UTF-8" )/
        title analiz

        link( rel="stylesheet", href="css/styles.css" )/

    body
        div.left
            div#files
                h3 File
                input( type="file", name="files", accept="text/html" )/
                a( href="#" ) Select file

            div#tasks
                h3 Tasks
                ol
                div.actions
                    a( href="#" ) run selected tasks

        div.right
            ol
            //
                li.closed
                    a( href="#" )
                        strong /Users/leny/Works/leny/kourikoulom/index.html
                        em 2 tasks
                        span 15:45:28
                li.closed
                    a( href="#" )
                        strong /Users/leny/Works/leny/kourikoulom/index.html
                        em 2 tasks
                        span 15:45:28
                li.closed
                    a( href="#" )
                        strong /Users/leny/Works/leny/kourikoulom/index.html
                        em 2 tasks
                        span 15:45:28
                li.closed
                    a( href="#" )
                        strong /Users/leny/Works/leny/kourikoulom/index.html
                        em 2 tasks
                        span 15:45:28
                li.closed
                    a( href="#" )
                        strong /Users/leny/Works/leny/kourikoulom/index.html
                        em 2 tasks
                        span 15:45:28
                li.open
                    a( href="#" )
                        strong /Users/leny/Works/leny/kourikoulom/index.html
                        em 2 tasks
                        span 15:45:28
                    ol
                        li
                            strong validation
                            div.result
                                p Lorem



        // script( src="js/vendors/jquery.js" )
        script( src="js/main.js" )
